section#survey
	form(action=`/navigation/` + navObj.trackId method='POST')
		.container
			.question
				.desktop-12.columns

				.clear

				.desktop-3.columns
					h4 Question 1

				.desktop-9.columns
					p What kind of webpage is this? 

					- var radioIndex = 0
					each val, key in webpageTypes
						- radioIndex++
						- radioId = 'page-type' + radioIndex
						.item
							input(type='radio' name='webpage-type' id=radioId value=val)
							label(for=radioId) #{val}
				.clear



			.question
				.desktop-3.columns
					h4 Question 2

				.desktop-9.columns
					p How would you characterize the research being done?

					- var radioIndex = 0
					each val, key in characterizeResearch
						- var isOther = (val == 'Other'); 
						- radioIndex++
						- radioId = 'research-type' + radioIndex
						.item
							input(class={"option-other": isOther} type='radio' name='characterize-research' id=radioId value=val)
							label(for=radioId) #{val}

						- if (isOther)
							input(class={"option-other": isOther} name='characterize-research-other' type='text' data-link-id=radioId)

							script.
								$(document).ready(function() {
									var $otherRadio = $('input[type=radio].option-other'); 

									var $otherText = $('input[type=text].option-other')

									$otherRadio.click(function() {
										$otherText.focus(); 
									});

									$otherText.focus(function() {
										console.log('text selected'); 
										$otherRadio.prop('checked', true); 
									}); 
								});
				.clear



			.question
				.desktop-3.columns
					h4 Question 3

				.desktop-9.columns
					p What company is being researched? 
					input(name='company-name' type='text')

		input(type='hidden' name='next' value=navObj.nextTrackId)
		input.submit-form(type='submit' value='Submit')