doctype html
html
	head
		include includes/head.pug

	body
		section#sessions
			.container
				.desktop-12.columns
					- var pageTitle = isResponse ? 'Sessions (view responses)' : 'Sessions'
					h1 #{pageTitle}

				for session in sessions
					.desktop-6.columns
						h2 #{session.title}

						for user in session.users
							- var pathPrefix = isResponse ? '/response' : ''
							a(href=pathPrefix + `/navigations/user/` + user).link-user 
								span.username #{user}
								- var count = countMap[user.toLowerCase()]

								if (count > 0)
									span.count #{count}
								else
									span.count.not-found Not found


				.clear
