doctype html
html
	head
		include includes/head.pug

	body
		section#meta
			.left
				a.link-nav(href='/') Home

			.center
				- var sessionDate = new Date(navObj.date)
				- var sessionName = navObj.userName + '-' + navObj.date.substr(8, 3) + ' ' + navObj.date.substr(5, 2)
				span.session-name #{sessionName}


				a.link-url
					- var url = navObj.url
					- var trimmedUrl = (url.length > 60) ? url.substr(0, 60 - 1) + '...' : url; 
					span.url #{trimmedUrl}
				
				span.count #{navObj.screenshots.length} screenshot(s)

			.right
				- var pathPrefix = isResponse ? '/response' : ''
				- var skipText = isResponse ? 'Next' : 'Skip'
				if (navObj.nextTrackId != null)
					a.link-nav(href=pathPrefix + `/navigation/` + navObj.nextTrackId) #{skipText} &gt; 

			.clear


		if (isResponse)
			include includes/survey-responses.pug

		section#screenshots
			.container
				.desktop-12.columns
					for screenshot in navObj.screenshots
						.screenshot-wrapper
							.duration
								.time Viewed for

								- var barWidth = Math.max(20, Math.min(Number((screenshot.duration / 1000).toFixed(0)) * 50, 500)) + 'px'
								.bar(style={
									'width': barWidth
								})
									.circle 


								- var durationText = ''	
								- if (screenshot.duration == null) durationText = 'Unknown'
								- else if (screenshot.duration > 10000) durationText = 'Longer than 10 seconds' 
								- else durationText = Number((screenshot.duration / 1000).toFixed(1)) + ' seconds'; 
								.desc #{durationText} 

							a.link-image(href=`/screenshot/` + screenshot.fileName)
								img.img-screenshot(src=`/screenshot/` + screenshot.fileName)


		if (!isResponse)
			include includes/survey-form.pug