html
	head
		title= title

		link(rel="stylesheet", href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic")
		link(rel="stylesheet", href="/css/typegrid.css")
		link(rel="stylesheet", href="/css/style.css")

	body
		section#user-navigations
			.container
				.desktop-12.columns
					h2 #{navigations.length} Navigation entries for username #{userName}

					.list-navigations
						for navigation in navigations
							a.item(href=`/navigation/` + navigation.trackId)
								span.date #{navigation.date}

								- var displayUrl = (navigation.url.length > 80) ? navigation.url.substr(0, 80) + '...' : navigation.url;

								span.url #{displayUrl}